

$color-1: #666;
$color-2: #333;
$color-3: #999;
$colourful-1: #258061;
$colourful-2: #b1c564;
$colourful-3: #B40402;

// base
$te-view-lineheight: 1.5;
$te-view-bgcolor: #fff;
$te-view-bgcolor-1: #f4f4f4;
$te-view-fontcolor-1: $color-2;
$te-view-fontsize-big-1: 30px;
$te-view-fontsize-default: 16px;
$te-view-fontsize-small-2: 14px;
$te-view-fontsize-small-3: 12px;
$te-view-maxwidth: 680px;
$te-view-tocwidth: 300px;

$te-view-home: 300px;
