
<article id="post">
  <h1 class="post-title"><%=page.title%></h1>
  <div class="toc-show" id="tocShow"><i class="fa fa-navicon" /></div>
  <a class="go-top" href="#teWrap" id="goTop"><i class="fa fa-arrow-up" /></a>
  <div class="te-post-outer">
    <div class="te-post-inner">
      <%-page.content%>
    </div>
    <div class="post-toc" id="postToc">
      <div class="toc-outer">
        <div class="top-title">文章目录</div>
        <%- toc(page.content) %>
      </div>
    </div>
  </div>
</article>

<%-partial('_partials/pagination')%>
